<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<title>Notice</title>

<th:block layout:fragment="content">
    <div class="container col-lg-8">
        <div class="card my-4">
            <!-- Title -->
            <p style="font-size: 280%" class="card-title mt-4">[[${notice.title}]]</p>
            <!-- Author -->
            <div><p class="pull-right lead">by [[${notice.writer}]]</p></div>
            <!-- Date/Time -->
            <div><div class="pull-right lead" th:text="${#dates.format(notice.regTime, 'yyyy-MM-dd HH:mm:SS')}"></div></div>
            <hr>

            <!-- Post Content -->
            <div><pre class="lead card-text">[[${notice.content}]]</pre></div>
            <hr>
            <div><button id="listBtn" class="btn float-right"> 목록 </button></div>
        </div>
    </div>

    <form id="actionForm" method="get" th:action="@{/notice/list/{bno} (bno=${notice.bno})}">
        <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
        <input type="hidden" name="amount" th:value="${cri.amount}">
    </form>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            const actionForm = $("#actionForm");

            $("#listBtn").on("click", function (e) {
                e.preventDefault();
                actionForm.submit();
            })
        })
    </script>
</th:block>

</html>