<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<title>Notice</title>

<th:block layout:fragment="content">
    <div class="container col-lg-8">
        <div class="card my-4">
            <!-- Title -->
            <p style="font-size: 280%" class="card-title mt-4">[[${notice.title}]]</p>
            <!-- Author -->
            <div><p class="pull-right lead">by [[${notice.writer}]]</p></div>
            <!-- Date/Time -->
            <div><div class="float-right">Posted on January 1, 2019 at 12:00 PM</div></div>
            <hr>

<!--            &lt;!&ndash; Preview Image &ndash;&gt;-->
<!--            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

<!--            <hr>-->

            <!-- Post Content -->
            <div class="lead" th:text="${notice.content}"></div>
            <hr>
            <div><button class="btn float-right"> 목록 </button></div>
        </div>
    </div>
</th:block>

</html>