<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<title>공지사항 목록</title>

<th:block layout:fragment="content">
    <div class="container">
        <div class="card">
            <div class="mt-5">
                <h2 class="text-center">
                    [[${bname}]] 공지사항
                </h2>
            </div>
            <div class="card-body">
                <button id="regBtn" name="regBtn" type="button" class="btn-reverse btn-sm mb-2 float-right">New Notice</button>
                <table class="table table-hover mb-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-over" id="noticeTbl" th:each="notice : ${list}">
                        <th id="noticeId" th:text="${notice.id}"></th>
                        <td><a class="text-over move" th:href="@{/notice/get/{id} (id=${notice.id})}">[[${notice.title}]]</a></td>
                        <td th:text="${notice.writer}"></td>
                        <td th:text="${#dates.format(notice.regTime, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(notice.updateTime, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="mt-5" th:with="start=${pageInfo.startPage}, end=${pageInfo.endPage}">
                    <ul class="pagination float-right ml-3">
                        <li class="page-item" th:if="${pageInfo.prev}">
                            <a class="page-link" th:href="@{/notice/list/{bno} (bno=${bno}, pageNum=${pageInfo.startPage - 1}, amount=${pageInfo.cri.amount})}">Prev</a>
                        </li>

                        <li class="page-item" th:classappend="${page eq pageInfo.cri.pageNum} ? active" th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:href="@{/notice/list/{bno} (bno=${bno}, pageNum=${page}, amount=${pageInfo.cri.amount})}" th:text="${page}"></a>
                        </li>

                        <li class="page-item" th:if="${pageInfo.next}">
                            <a class="page-link" th:href="@{/notice/list/{bno} (bno=${bno}, pageNum=${pageInfo.endPage + 1}, amount=${pageInfo.cri.amount})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <form id="actionForm" method="get">
        <input type="hidden" name="amount" th:value="${pageInfo.cri.amount}">
        <input type="hidden" name="pageNum" th:value="${pageInfo.cri.pageNum}">
    </form>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            const msg = "[[${msg}]]";

            if(msg != "") {
                alert(msg);
            }

            const actionForm = $("#actionForm");

            $(".move").on("click", function (e) {
                e.preventDefault();
                actionForm.attr("action", $(this).attr("href"));
                actionForm.submit();
            })

            $("#regBtn").on("click", function (e) {
                e.preventDefault();
                actionForm.empty();
                actionForm.attr("method", "get");
                actionForm.attr("action", "/notice/register/" + "[[${bno}]]");
                actionForm.submit();
            })
        })
    </script>
</th:block>
</html>