<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="site-footer">
    <div class="bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                    <p class="copyright-text">
                        © Intelli_S
                    </p>
                    <div class="credits">
                        <a href="https://github.com/yyjin97/Intelli_S_web_server">Intelligent Space</a> by 유진, 서영, 윤환
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>