<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="navbarFragment">
    <header id="header">
        <div class="container">

            <a th:href="@{/}">
            <div id="logo" class="pull-left">
                    <img th:src="@{/img/logo-nav.png}"/>
            </div>
            </a>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-has-children"><a th:href="@{/notice/list/0}">공지사항</a>
                        <ul>
                            <li><a th:href="@{/notice/list/0}">형남공학관</a></li>
                            <li><a th:href="@{/notice/list/1}">문화관</a></li>
                            <li><a th:href="@{/notice/list/2}">중앙도서관</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a th:href="@{/reserve/0/0}">예약목록</a>
                        <ul>
                            <li class="menu-has-children"><a th:href="@{/reserve/0/0}">형남공학관</a>
                                <ul>
                                    <li><a th:href="@{/reserve/0/0}">424호</a></li>
                                    <li><a th:href="@{/reserve/0/1}">522호</a></li>
                                    <li><a th:href="@{/reserve/0/2}">1101호</a></li>
                                </ul>
                            </li>
                            <li class="menu-has-children"><a th:href="@{/reserve/1/0}">문화관</a>
                                <ul>
                                    <li><a th:href="@{/reserve/1/0}">소프트웨어 실습실</a></li>
                                    <li><a th:href="@{/reserve/1/1}">하드웨어 실습실</a></li>
                                    <li><a th:href="@{/reserve/1/2}">541호</a></li>
                                </ul>
                            </li>
                            <li class="menu-has-children"><a th:href="@{/reserve/2/0}">중앙도서관</a>
                                <ul>
                                    <li><a th:href="@{/reserve/2/0}">101호</a></li>
                                    <li><a th:href="@{/reserve/2/1}">102호</a></li>
                                    <li><a th:href="@{/reserve/2/2}">401호</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/notification/send}">알림전송</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->

            <nav class="nav social-nav pull-right d-none d-lg-inline">
                <div class="navbar-nav ml-auto ml-md-0">
                    <form id="logoutForm" method="post" th:action="@{/logout}">
                        <a class="nav-link" sec:authorize="isAuthenticated()" onclick="document.getElementById('logoutForm').submit();"><i class="fa fa-user fa-fw mr-1"></i>[[${#authentication.principal.userVO.userName}]]</a>
                    </form>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="nav-link" type="button" th:href="@{/login}"><i class="fa fa-user mr-1"></i>Login</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</th:block>

</html>