<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="scriptFragment">
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
    <script th:src="@{/lib/superfish/superfish.min.js}"></script>
    <script th:src="@{/lib/tether/js/tether.min.js}"></script>
    <script th:src="@{/lib/stellar/stellar.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/lib/counterup/counterup.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/easing/easing.js}"></script>
    <script th:src="@{/lib/stickyjs/sticky.js}"></script>
    <script th:src="@{/lib/parallax/parallax.js}"></script>
    <script th:src="@{/lib/lockfixed/lockfixed.min.js}"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script th:src="@{/js/custom.js}"></script>

    <script th:src="@{/contactform/contactform.js}"></script>
</th:block>

</html>