<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Socket</title>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
</head>
<body>
    <button id="btn"class="btn" type="button">socket</button>

    <script>
        $(document).ready(function () {
            // handshake
            const sock = new SockJS("/rpi/door");
            console.log("sock");

            // onopen : connection이 맺어졌을 때의 callback
            sock.onopen = function () {
                // send : connection으로 message를 전달
                // connection이 맺어진 후 가입(JOIN) 메시지를 전달
                sock.send(JSON.stringify({msg:"onopen > send"}));

                // onmessage : message를 받았을 때의 callback
                sock.onmessage = function (e) {
                    console.log("onopen > onmessage");
                }
            }

            const sendBtn = $("#btn");
            sendBtn.on("click", function (e) {
                console.log("click!");
                sock.send(JSON.stringify({msg:"send"}));
            });
        })
    </script>
</body>
</html>