<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Socket</title>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
</head>
<body>
    <button id="btn"class="btn" type="button">socket</button>

    <script>
        $(document).ready(function () {

            const sendBtn = $("#btn");
            sendBtn.on("click", function (e) {
                console.log("click!");
                $.ajax({
                    url: 'http://192.168.137.1:8080/app/beacon/open',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: '{ major:1, minor:22 }',
                    dataType: 'json',
                    success: function(response) {
                        const result = JSON.parse(JSON.stringify(response));
                        alert(result);
                    }
                });

            });
        })
    </script>
</body>
</html>